/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Set box-sizing to border-box for all elements */
  * {
    box-sizing: border-box;
  }
  
  /* Basic body styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000;
    background-color: #333;  
  }
  
  /* Make images responsive */
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Container for centering content */
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .section-title {
    text-align: center;
    margin: 0 auto 2rem auto;
    padding-top: 10px;
  }
  
  .section-title h2 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 0.5rem;
  }
  
  .title-line {
    width: 50px; /* Length of the grey line */
    height: 3px; /* Thickness of the grey line */
    background-color: #333; /* Grey color */
    margin: 0 auto; /* Center the line */
  }

  .page-title {
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem;
    color: #FFF;
  }

  @media (max-width: 768px) {
    .section-title h2 {
      font-size: 1.5rem;
    }

    .page-title {
      font-size: 2rem;
    }
  }